__pycache__

# Distribution / packaging
build/
dist/
*.egg-info/

# binaries
*.so

# tmp files
*.swp

# AML workspace config file
config.json

.coverage_*
*~
slurm*
logs

# Data folder
bookcorpus_data/
pretrain_gpt_distributed_data/

# Checkpoint folder
pretrain_gpt_distributed_checkpoint/

.idea/

# LSH
LSH/